In [3]:
import pandas as pd

# Specify the path to your CSV file
file_path = 'oecd-our-world-dataset.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

In [4]:
df.head()

,LOCATION,Country,TYPE_VAR,Type of indicator,VARIABLE,Indicator,WB,Current/Future Well-being,SEX,Sex,AGE,Age,EDUCATION,Education,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,AVERAGE,Average,1_1,Household income,CWB,Current Well-being,TOT,Total population,TOT,Total population,TOT,Total population,2004,2004,28476.0,NaN,NaN
1,AUS,Australia,AVERAGE,Average,1_1,Household income,CWB,Current Well-being,TOT,Total population,TOT,Total population,TOT,Total population,2005,2005,28730.0,NaN,NaN
2,AUS,Australia,AVERAGE,Average,1_1,Household income,CWB,Current Well-being,TOT,Total population,TOT,Total population,TOT,Total population,2006,2006,29777.0,NaN,NaN
3,AUS,Australia,AVERAGE,Average,1_1,Household income,CWB,Current Well-being,TOT,Total population,TOT,Total population,TOT,Total population,2007,2007,30911.0,NaN,NaN
4,AUS,Australia,AVERAGE,Average,1_1,Household income,CWB,Current Well-being,TOT,Total population,TOT,Total population,TOT,Total population,2008,2008,32475.0,NaN,NaN

In [6]:
# extract a list of indicators from the Indicator column in df
indicators = df['Indicator'].unique().tolist()
indicators

['Household income',
 'Household wealth',
 'Employment rate',
 'Labour market insecurity',
 'Households with internet access at home ',
 'Time off',
 'Gender gap in working hours',
 'Life expectancy at birth',
 'Perceived health',
 'Deaths from suicide, alcohol, drugs',
 'Student skills (reading)',
 'Student skills (maths)',
 'Social support',
 'Time spent in social interactions',
 'Having a say in government',
 'Voter turnout ',
 'Homicides',
 'Feeling safe at night',
 'Road deaths',
 'Life satisfaction',
 'Relative income poverty ',
 'Financial insecurity',
 'Long-term unemployment rate',
 'Youth not in employment, education or training',
 'Housing cost overburden',
 'Negative affect balance',
 'Satisfaction with time use',
 'Self-reported depression',
 'Access to green space',
 'Difficulty making ends meet',
 'Poor households without access to basic sanitary facilities',
 'Satisfaction with personal relationships',
 'Long hours in paid work',
 'Student skills (science)',
 'Air pollution',
 'Job strain',
 'Long unpaid working hours',
 'Housing affordability',
 'Adult skills (literacy)',
 'Adult skills (numeracy)',
 'Overcrowding rate',
 'Earnings',
 'Gender wage gap']